
h1 {
    text-align: center;
    padding-top: 35px;
}

h2 {
    text-align: center;
    align-items: center;
    padding-top:24px;
}

.family {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 50em;
    text-decoration: white;
}

body {
    margin: 0;
    font-family: Arial;
    align-items: center;
    background-color:lightblue;
}

* {
    align-content: center;
}

.column {
    display: inline-flex;
    width: 15%;
    box-sizing: border-box;
    align-content: center;
}
.row {
    align-items: center;
    text-align: center;
}

/* Style the images inside the grid */
.column img {
    width: 100%;
    max-width: 100%;
    height: auto;
    cursor: pointer;
}