
h1{
    text-align: center;
    padding-top:24px;
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin-left: 27em;
    margin-right: 27em;
}
div#first{
    text-indent: 2%;
}
div#second{
    text-indent: 2%;
}
div#third{
    text-indent: 2%;
}